<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} Blog {% endblock %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>  
        {#                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    </head>
    <body style="width: 75%; margin: 0 auto;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{path("blog_homepage")}}">Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% block menu %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    {% endblock %}
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {%if app.user != null%}
                                <h4>&nbsp;&nbsp;&nbsp;&nbsp;<i>{{app.user.name}}</i></h4>
                            {%endif%} 
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link fas fa-align-justify" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                                
                                <a class="dropdown-item" href="#">Ayúda</a>
                                <div class="dropdown-divider"></div>
                                {%if app.user == null%}
                                    <a class="dropdown-item" href="{{path("login")}}">Entrar</a>
                                {%else%}   
                                    <a class="dropdown-item" href="{{path("blog_index_tag")}}">Tags</a>
                                    <a class="dropdown-item" href="{{path("blog_index_category")}}">Category</a>
                                    <a class="dropdown-item" href="{{path("logout")}}">Salir</a>
                                {%endif%}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="content">
            {% block content %} Content Default {% endblock %}
            <section>
                <hr/>
                <hr/>
                <footer>
                    &copy; Constantin
                </footer>
                </body>
                </html>
